@model SacramentPlanner.Models.Agenda

@{
    ViewData["Title"] = "Details";
}

    <h1 class="meetings-details-title">@Html.DisplayFor(model => model.Meeting.Ward.Ward_Name) Ward, @Html.DisplayFor(model => model.Meeting.Date)</h1>

    <div>
        <hr />
        <dl class="row meetings-details-section">

            <dt class="col-sm-6 meetings-details-label">
                @Html.DisplayNameFor(model => model.Meeting.PresidingDirectory):
            </dt>
            <dd class="col-sm-6 meetings-details-value">
                @Html.DisplayFor(model => model.Meeting.PresidingDirectory.Full_Name)
            </dd>
            <dt class="col-sm-6 meetings-details-label">
                @Html.DisplayNameFor(model => model.Meeting.ConductingDirectory):
            </dt>
            <dd class="col-sm-6 meetings-details-value">
                @Html.DisplayFor(model => model.Meeting.ConductingDirectory.Full_Name)
            </dd>
        </dl>
        <hr />

        <dl class="row meetings-details-section">
            <dt class="col-sm-6 meetings-details-label">
                @Html.DisplayNameFor(model => model.Meeting.Opening_HymnHymn):
            </dt>
            <dd class="col-sm-6 meetings-details-value">
                @Html.DisplayFor(model => model.Meeting.Opening_HymnHymn.Hymn_Number_Name)
            </dd>
            <dt class="col-sm-6 meetings-details-label">
                @Html.DisplayNameFor(model => model.Meeting.InvocationDirectory):
            </dt>

            @{
                if (Model.Meeting.InvocationDirectory != null)
                {
                    <dd class="col-sm-6 meetings-details-value">
                        @Html.DisplayFor(model => model.Meeting.InvocationDirectory.Full_Name)
                    </dd>
                }
                else
                {
                    <dd class="col-sm-6 meetings-details-value">
                        By Invitation
                    </dd>
                }
            }

            @{if (Model.Meeting.Ward_Business == true)
                {
                    <dt class="col-sm-12 meetings-details-misc">
                        Ward Business
                    </dt>
                }
            }

        </dl>
        <hr />

        @{if (Model.Meeting.Sacrament == true)
            {
                <dl class="row meetings-details-section">
                    <dt class="col-sm-6 meetings-details-label">
                        @Html.DisplayNameFor(model => model.Meeting.Sacrament_HymnHymn):
                    </dt>
                    <dd class="col-sm-6 meetings-details-value">
                        @Html.DisplayFor(model => model.Meeting.Sacrament_HymnHymn.Hymn_Number_Name)
                    </dd>
                    <dt class="col-sm-12 meetings-details-misc">
                        Sacrament will be administered by the Priesthood
                    </dt>
                </dl>
                <hr />
            }
        }

        @*This is the Agenda Items*@

        @{
            var agendas = ViewBag.Agenda;
        }

    <dl class="row meetings-details-section">
        @foreach (var agenda in agendas)
        {
            switch (@agenda.Section.ToString())
            {
                case "Speaker":
                    <dt class="col-sm-6 meetings-details-label">
                        Speaker:
                    </dt>
                    <dd class="col-sm-6 meetings-details-value">
                        @agenda.Directory.Full_Name
                    </dd>
                    break;
                case "Special_Event":
                    <dt class="col-sm-12 meetings-details-misc">
                        @agenda.Special_Event_Text
                    </dt>
                    break;
                case "Hymn":
                    <dt class="col-sm-6 meetings-details-label">
                        Intermediate Hymn:
                    </dt>
                    <dd class="col-sm-6 meetings-details-value">
                        @agenda.Hymn.Hymn_Number_Name
                    </dd>
                    break;
                case "Special_Musical_Number":
                    <dt class="col-sm-6 meetings-details-label">
                        Special Musical Number:
                    </dt>
                    <dd class="col-sm-6 meetings-details-value">
                        @agenda.Special_Event_Text
                    </dd>
                    break;
                case "Testimony_Meeting":
                    <dt class="col-sm-12 meetings-details-misc">
                        Sharing of Testimonies
                    </dt>
                    break;
                default:
                    <dt class="col-sm-12 meetings-details-misc">
                        We hit the default...
                    </dt>
                    break;

            }
            <dt class="col-sm-12 meetings-details-notes">
                @agenda.Notes
            </dt>

        }
    </dl>
        <hr />
        



        <dl class="row meetings-details-section">
            <dt class="col-sm-6 meetings-details-label">
                @Html.DisplayNameFor(model => model.Meeting.Closing_HymnHymn):
            </dt>
            <dd class="col-sm-6 meetings-details-value">
                @Html.DisplayFor(model => model.Meeting.Closing_HymnHymn.Hymn_Number_Name)
            </dd>
            <dt class="col-sm-6 meetings-details-label">
                @Html.DisplayNameFor(model => model.Meeting.BenedictionDirectory):
            </dt>
            @{
                if (Model.Meeting.BenedictionDirectory != null)
                {
                    <dd class="col-sm-6 meetings-details-value">
                        @Html.DisplayFor(model => model.Meeting.BenedictionDirectory.Full_Name)
                    </dd>
                }
                else
                {
                    <dd class="col-sm-6 meetings-details-value">
                        By Invitation
                    </dd>
                }
            }
        </dl>
    </div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.MeetingID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
