@model IEnumerable<SacramentPlanner.Models.Meeting>

@{
    ViewData["Title"] = "Meetings";
}

<h1>Meetings</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ward)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ward.Stake)
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Formatted_Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ward.Ward_Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ward.Stake)
            </td>
            <td>
                <a asp-action="Agenda" asp-route-id="@item.MeetingID">View Agenda Items</a> |
                <a asp-action="Edit" asp-route-id="@item.MeetingID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.MeetingID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.MeetingID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
